.content-container {
    display: grid; /* Utilise une grille CSS pour disposer le contenu */
    grid-template-columns: 1fr; /* Une seule colonne par défaut */
    gap: 2rem; /* Espace entre les éléments */
}

#map { 
    height: 20rem; /* Hauteur fixe pour le conteneur de la carte */
}

/* Media Queries */
@media (min-width: 768px) {
    .content-container {
        grid-template-columns: 1fr 1fr; /* Deux colonnes sur les écrans plus larges */
    }

    #qui-sommes-nous,
    #ou-sommes-nous,
    #ambiance,
    #savoir-faire {
        margin-bottom: 0; /* Supprime la marge inférieure sur les grands écrans */
    }
}

.page-title {
    color: var(--color-primary);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

section {
    margin-bottom: 3rem; /* Marge inférieure pour chaque section */
}

h2 {
    color: var(--color-secondary);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.6; /* Améliore la lisibilité du texte */
}

.hidden {
    display: none; /* Classe pour masquer des éléments */
}

.read-more {
    background-color: var(--color-accent);
    color: var(--color-primary);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.read-more:hover {
    opacity: 0.9; /* Effet visuel au survol du bouton */
}