/* Styles pour la section supérieure (hero) et les cartes de produits */
.hero,
.product-card {
    display: flex; /* Utilise Flexbox pour disposer les éléments */
}

/* Styles spécifiques à la section hero */
.hero {
    position: relative; /* Positionnement relatif pour le contenu absolu à l'intérieur */
    height: 33vh;
    background-size: cover; /* Couvre toute la zone avec l'image d'arrière-plan */
    align-items: center; /* Centre verticalement les éléments */
    justify-content: center; /* Centre horizontalement les éléments */
    margin-bottom: 4rem; /* Marge inférieure pour espacer des sections suivantes */
}

/* Titre de la section */
.section-title {
    font-size: 1.5rem;
    color: var(--color-primary); /* Couleur primaire définie dans :root */
    text-align: center;
    margin-bottom: 1rem; /* Marge inférieure pour espacer des éléments suivants */
}

/* Titre spécifique au catalogue */
.catalogue-title {
    color: var(--color-white); /* Couleur blanche définie dans :root */
    font-size: 2rem;
    margin: 0;
    position: absolute; /* Positionnement absolu par rapport à la section hero */
    top: 50%; /* Centre verticalement dans la section hero */
    left: 50%; /* Centre horizontalement dans la section hero */
    transform: translate(-50%, -50%); /* Ajuste le centre en utilisant une transformation */
    text-align: center;
}

.btn-primary {
    background-color: var(--color-accent); /* Couleur spécifique définie dans :root */
    color: var(--color-primary); /* Couleur primaire définie dans :root */
    margin-top: 1rem; /* Marge supérieure pour espacer des éléments précédents */
    margin-left: 3em; /* Marge gauche pour espacer des éléments précédents */
}

/* Styles pour les cartes de produits */
.product-card {
    background-color: var(--color-white); /* Couleur blanche définie dans :root */
    padding: 1rem;
    border-radius: 4px; /* Coins arrondis */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1); /* Ombre légère sous la carte */

    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne dans la carte */
    align-items: center; /* Centre horizontalement les éléments dans la carte */
}

/* Styles pour l'image des produits dans les cartes */
.product-card img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Couvre l'espace sans déformer l'image */
    margin-bottom: 0.5rem; /* Marge inférieure entre l'image et le titre du produit */
}

/* Styles pour le titre des produits dans les cartes */
.product-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem; /* Marge inférieure entre le titre et la description du produit */
    text-align: center;
}

/* Styles pour la description des produits dans les cartes */
.product-description {
    flex-grow: 1; /* Permet à la description de prendre tout l'espace disponible restant dans la carte */
    text-align: center;
}

/* Styles pour le conteneur du filtre et des produits */
.filtre-et-produits {
    position: relative; /* Positionnement relatif pour le contenu absolu à l'intérieur */
}

/* Styles spécifiques au filtre par catégorie */
.filtre {
    display: inline-block; /* Permet de gérer le positionnement du filtre */
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-background);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Styles pour les labels dans le filtre */
.filtre label {
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

/* Ajustement de marge spécifique au titre h2 */
h2 {
    margin-top: -2rem;
}

/** Media Queries */

/* Styles pour les écrans plus grands que les mobiles */ 
@media (min-width :768px) {
    .menu-toggle {
       display:none ; /* Disparition du menu burger */
    }

    .nav-links {
        display:flex ;
    }

    /* Ajustements pour la section hero */
    .hero {
        flex-direction: row ; /* Disposition en ligne */
        justify-content: space-between ;
        align-items: center ;
        text-align: left ;
        padding-bottom :20px ;
    }

    .hero-content,
    .hero-image {
        flex: 0 0 48%; /* Positionnement flex */
        padding-right: 2rem;
        max-height: 300px;
        overflow: hidden; /* Cache si ça dépasse */
        position: relative;
        z-index: 1;
    }

    .product-grid {
        grid-template-columns: repeat(3,1fr); /* Template de la grille */
    }

    .section-title {
        text-align: center;
    }

    .filtre {
        position: absolute;
        right: 0;
        top: -1.5rem;
    }
}

/* Styles pour les tablettes */
@media (min-width :768px) and (max-width :1023px) {
    .product-card {
        padding: 0.8rem ;
    }

    .product-title {
        font-size: 0.9rem ;
    }

    .product-description {
        font-size: 0.9rem ;
    }

    h2 {
        margin-left: 2rem;
    }

    .section-title {
    text-align: left;
    }
}