.content-container {
    display: grid; /* Utilisation du grid layout */
    grid-template-columns: 1fr; /* Une seule colonne par défaut (mobile-first) */
    gap: 2rem; /* Espace entre les sections */
}

#map { 
    height: 20rem; /* Hauteur de la carte */
}

/* Styles supplémentaires pour s'assurer que les sections sont bien formatées */
@media (min-width: 768px) {
    .content-container {
        grid-template-columns: 1fr 1fr; /* Deux colonnes sur écrans plus larges */
    }

    #qui-sommes-nous,
    #ou-sommes-nous,
    #ambiance,
    #savoir-faire {
        margin-bottom: 0; /* Supprimez le margin-bottom pour éviter un espacement excessif */
    }
}

.page-title {
    color: var(--color-primary);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

section {
    margin-bottom: 3rem;
}

h2 {
    color: var(--color-secondary);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.hidden {
    display: none;
}

.read-more {
    background-color: var(--color-accent);
    color: var(--color-primary);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.read-more:hover {
    opacity: 0.9;
}