/* Styles pour les produits */
.product-illustration {
    height: 33vh;
    margin-bottom: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* Image des produits */
.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
}

/* Détails des produits */
.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 1rem;
}

.product-info {
    width: 100%;
    position: relative;
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    padding: 2rem;
    background-color: var(--color-background);
    overflow-y: auto; /* Permet le défilement si le contenu déborde */
}

/* Titre du produit */
.product-title {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Styles pour la description, référence, origine, prix et disponibilité des produits */
.product-description,
.product-reference,
.product-origin,
.product-price,
.product-availability {
    margin-bottom: 1rem;
    line-height: 1.6; /* Améliore la lisibilité du texte avec un espacement accru entre les lignes */
}

/* Date de publication positionnée en haut à droite de la carte produit */
.publication-date {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.9rem;
    color: var(--color-secondary);
}

/* Styles pour le bouton principal sur la page produit */
.btn-primary {
    background-color: var(--color-accent);
    color: var(--color-primary);
    font-weight: bold;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
}

/* Effet visuel au survol du bouton principal */
.btn-primary:hover {
    background-color: var(--color-secondary);
}

/* Styles pour les écrans plus larges */
@media (min-width: 769px) {
    
    .product-illustration {
        height: 33vh;
        margin-bottom: 2rem;
    }

    .product-details {
        flex-direction: row; /* Change la direction pour les écrans plus larges */
        justify-content: space-between;
    }

    .product-image {
        height: 100%; /* Ajuste la hauteur pour les écrans plus larges */
        opacity: 1;
    }
}