<%- include('../partials/hero', { backgroundImage: '../../../images/about.webp' , title: 'Ajouter un café' ,
    titleClass: 'hero-title' }) %>

    <section class="admin-form container">
        <%- include('../partials/coffee-form', { formAction: '/admin/add-coffee' , coffee: null }) %>
    </section>