<%- include('../partials/hero', { backgroundImage: '../../../images/about.webp' , title: 'Modifier un café' ,
    titleClass: 'hero-title' }) %>

    <section class="admin-form container">
        <%- include('../partials/coffee-form', { formAction: `/admin/edit-coffee/${coffee.id}`, coffee: coffee }) %>
    </section>