<section class="admin-buttons">
    <a href="/admin/coffees" class="btn btn-primary">Cafés</a>
    <a href="/admin/orders" class="btn btn-secondary disabled">Commandes</a>
    <a href="/admin/clients" class="btn btn-secondary disabled">Clients</a>
</section>