<header class="header">
    <div class="logo">
        <a href="/"><img src="/images/logo.svg" alt="oCoffee Logo"></a>
        <span class="brand-name">O'Coffee</span>
    </div>
    <nav class="nav">
        <button class="menu-toggle" aria-label="Ouvrir le menu de navigation">☰</button>
        <ul class="nav-links">
            <!-- Vérification de la route active pour le style -->
            <li><a href="/" class="<% if (title === " O'Coffee - Accueil") { %>active<% } %>">Accueil</a></li>
            <li><a href="/catalogue" class="<% if (title === " O'Coffee - Catalogue") { %>active<% } %>">Catalogue</a>
            </li>
            <li><a href="/notre-boutique" class="<% if (title === " O'Coffee - Notre Boutique") { %>active<% } %>">Notre
                        boutique</a></li>
        </ul>
    </nav>
</header>
<main class="main-content container">