<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <title>
        <%= title %>
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Liens CSS communs -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style-general.css">

    <!-- Leaflet -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- Liens CSS spécifiques -->
    <% for (const css of stylesheets) { %>
        <link rel="stylesheet" href="<%= css %>">
        <% } %>

            <!-- Formulaire de contact EmailJS -->

            <script src="https://cdn.emailjs.com/dist/email.min.js"></script>

            <script type="module" src="/js/main.js" defer></script>
</head>

<body>