<%- include('partials/head') %>
    <%- include('partials/header') %>
        <div class="error-content">
            <h1>404 - Café non trouvé</h1>
            <p>Désolé, le café que vous recherchez n'existe pas, malgré notre grande gamme de choix !</p>
            <a href="/" class="btn btn-primary">Retour à l'accueil</a>
        </div>
        <%- include('partials/footer') %>