<!-- Contenu de la page d'erreur 404 -->

<div class="error-content">
    <h1>
        <%= title %>
    </h1>
    <p>
        <%= description %>
    </p>
    <a href="/" class="btn btn-primary">Retour à l'accueil</a>
</div>