<%- include('partials/head') %>
    <%- include('partials/header') %>

        <section class="hero" style="background-image: url('/images/about.webp');">
            <h1 class="admin-title">Administration</h1>
        </section>

        <section class="admin-buttons">
            <a href="/admin/coffees" class="btn btn-primary">Cafés</a>
            <a href="#" class="btn btn-secondary disabled">Commandes</a>
            <a href="#" class="btn btn-secondary disabled">Clients</a>
        </section>

        <%- include('partials/footer') %>